<%- include('./partials/head') %> 

<%- include('./partials/header') %>

<main>
  
  <section class="items">
    <% results.forEach(result => { %>
      <article>
          <img src=" <%= result.coverimages %> " alt="<%= result.titles %>" />
          <h2><%= result.titles[0] %></h2>
          <h3><%= result.authors[0] %></h3>
          <div>
            <a href="/book.ejs">bekijk exemplaar</a>
          </div>
        </article>
        <% }); %>
  </section>

</main>

<%- include('./partials/foot') %>


